<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/project.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="icon" href="/path/to/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <h2 class="pro">Portfolio</h2>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'skills' %}">Skills</a></li>
          <li><a href="#">Projects</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1 class="head">PROJECTS</h1>
      <div class="project1">
        <h1>Task Assigning Website</h1>
        <p>
          Project Description 🚀: Employee Project Assignment System Overview:
          The Employee Project Assignment System is a Django-powered web app
          aiming to simplify project assignment and notification processes
          within organizations. It offers secure authentication for employee
          access and enables managers to effortlessly create, manage, and assign
          projects. Employees receive email notifications upon assignment,
          ensuring prompt awareness of their responsibilities.
        </p>
        <div class="icons">
          <ul>
            <li>
              <a href="https://lnkd.in/diHAv8vD" target="_blank"
                ><i class="fab fa-github"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/posts/mohit-tiwari-1967b32a5_project-description-employee-project-activity-7199327424075952129-tyv7?utm_source=share&utm_medium=member_desktop"
                target="_blank"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="project1">
        <h1>Contact Book</h1>
        <p>
          Project Description: Django Contact Book 📒 Overview The Django
          Contact Book 📒 is a web-based app for managing contacts, built with
          the Django framework. Perfect for individuals and small businesses, it
          allows you to add, edit, delete, and view contacts effortlessly.
        </p>
        <div class="icons">
          <ul>
            <li>
              <a href="https://lnkd.in/d2BTTS6c" target="_blank"
                ><i class="fab fa-github"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/posts/mohit-tiwari-1967b32a5_codsoft-activity-7198311838965493761-kd1R?utm_source=share&utm_medium=member_desktop"
                target="_blank"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="project1">
        <h1>Calculator Web Application</h1>
        <p>
          🚀 Project Showcase: Django-Based Calculator Web Application 🧮 I am
          thrilled to share my latest project—a robust calculator web
          application built using Django, accomplished as part of my assignment
          at CodSoft. 🔍 Project Overview: This calculator is designed to
          perform basic arithmetic operations with precision and efficiency. The
          user-friendly interface ensures a seamless experience, whether you're
          performing simple calculations.
        </p>
        <div class="icons">
          <ul>
            <li>
              <a href="https://lnkd.in/dzUcSpEp" target="_blank"
                ><i class="fab fa-github"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/posts/mohit-tiwari-1967b32a5_django-webdevelopment-python-activity-7198575210604703744-0CoW?utm_source=share&utm_medium=member_desktop"
                target="_blank"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="project1">
        <h1>Todo Web Application</h1>
        <p>
          Project Description: Django To-Do List 📋 Overview The Django To-Do
          List 📋 is a web application designed to help users manage their tasks
          efficiently. Built using the Django framework, this app allows users
          to create, update, delete, and view tasks, making it ideal for
          personal use or team collaboration.
        </p>
        <div class="icons">
          <ul>
            <li>
              <a href="https://github.com/Mohit4289/myapp" target="_blank"
                ><i class="fab fa-github"></i
              ></a>
            </li>
            <li>
              <a
                href="https://www.linkedin.com/posts/mohit-tiwari-1967b32a5_todo-page-codsoft-activity-7196790767841882115-NPkT?utm_source=share&utm_medium=member_desktop"
                ><i class="fab fa-linkedin"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
